.dark-mode {
    --bg: hsl(230, 17%, 14%);
    --top-bg-pattern: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --text400: hsl(228, 34%, 66%);
    --text200: hsl(0, 0%, 100%);
    --toggle: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --hover-bg: hsl(228, 28%, 25%);
}

.light-mode {
    --bg: hsl(0, 0%, 100%);
    --top-bg-pattern: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --text400: hsl(228, 12%, 44%);
    --text200: hsl(230, 17%, 14%);
    --toggle: hsl(230, 22%, 74%);
    --hover-bg: hsl(227, 47%, 90%);
}

.app {
    background-color: var(--bg);
    min-height: 100vh;
    padding: 3rem;
}

* {
    transition: color 0.2s linear, background 0.2s linear;
}

.layout {
    max-width: 1100px;
    margin: auto;
}

.dashboard__title h1 {
    color: var(--text200);
    font-size: 2.25rem;
}

.dashboard__title p {
    color: var(--text400);
    font-weight: 700;
    margin-top: 0.25rem;
    letter-spacing: 0.05em;
    font-size: 1.1rem;
}

.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.overview > h2 {
    color: var(--text200);
    font-size: 2rem;
    margin-block: 4rem 1.5rem;
}

.dashboard__body,
.overview__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2.5rem;
}

@media (max-width: 768px) {
    .dashboard__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    .dashboard__title {
        position: relative;
        width: 100%;
    }

    .dashboard__title::after {
        content: "";
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: -2rem;
        background: var(--text400);
    }

    .switch {
        width: 100%;
        justify-content: space-between;
    }
}
